<div class="container">
	<%= form_with scope: :user, url: users_path, local: true do |form| %>
		
		<% if @user.errors.any? %>
			<% @user.errors.each do |field, msg| %>
				<div class="alert alert-danger" role="alert">
					<%= msg %>
				</div>
			<% end %>
		<% end %>

		<div class="form-inline">
			<%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
			<%= form.submit "Login", class: 'btn btn-primary' %>
		</div>

	<% end %>
</div>